

<div class="container-fluid">
    <div class="justify-content-center">
        <h1 >Welcome to HReport</h1>
    </div>
    <div>
        <h2>Choose what you want to do:</h2>
    </div>
    <div class="row">
        <a asp-controller="EditAdd" asp-action="AddComplaints" class="btn btn-primary col-sm-4 starter__buttons">Create a new report</a>
        <a asp-controller="EditAdd" asp-action="Index" class="btn btn-primary col-sm-4">Display all reports</a>
        <a asp-controller="EditAdd" asp-action="Func" class="btn btn-primary col-sm-4">Read about functionality</a>

    </div>
</div>