

<div class="container-fluid kasjan">
    <div class="div__starter-site">
        <h1 class="ml5">
            <span class="text-wrapper">
                <span class="line line1"></span>
                <span class="letters letters-left">Welcome</span>
                <span class="letters ampersand">to</span>
                <span class="letters letters-right">HReport</span>
                <span class="line line2"></span>
            </span>
        </h1>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    </div>
    <div class="div__starter-site choose_h2">
        <h2>Choose what you want to do:</h2>
    </div>
    <div class="row justify-content-between justify-content-center starter">

        <a asp-controller="EditAdd" asp-action="AddComplaints" class="btn btn-two col-sm-3 starter__buttons">Create a new report</a>
        <a asp-controller="EditAdd" asp-action="Index" class="btn btn-two col-sm-3 starter__buttons">Display all reports</a>
        <a asp-controller="EditAdd" asp-action="Func" class="btn btn-two col-sm-3 starter__buttons">Functionality</a>

    </div>
</div>